
.classpath
*.prefs
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/m2e-wtp/web-resources/META-INF/maven/ttps/HistoriaClinicaMascotas/pom.properties
target/m2e-wtp/web-resources/META-INF/maven/ttps/HistoriaClinicaMascotas/pom.xml
.settings/org.eclipse.wst.common.component
target/m2e-wtp/web-resources/META-INF/maven/ttps/HistoriaClinicaMascotas/pom.properties
/target/
target/m2e-wtp/web-resources/META-INF/maven/ttps/HistoriaClinicaMascotas/pom.properties
*.properties
